.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', sans-serif;
}

.navbar {
  background-color: #cbdbd988;
}


/* FIGURE OUT HOW TO MAKE THIS MORE RESPONSIVE LIKE THE BOOTSTRAP VERSION */
.container-fluid {
  width: 80% !important;
}

.textContent {
  font-size: 1.5rem;
  text-align: center;
}

.navbar-brand h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.88rem;
  font-weight: 900;
  color: #bc4416;
}

.britName {
  color: #bc4416;
  font-family: 'Kaushan Script', cursive;
}

.greeting {
  font-size: 2.5rem;
}

.navbar-brand:hover {
  transform: scale(1.1);
  border-radius: 5%;
}

.navbar-nav .nav-item .nav-link {
  color: #20494d;
  font-weight: bold;
  font-size: 1.25rem;
}

.pageTitle {
  font-size: 3.5rem;
  font-family: 'Varela Round', sans-serif;
  color: #bc4416;
  margin: 1rem
}

.landscapeModal {
  height: unset;
  max-height: fit-content;
  max-width: 63vw;
}

.landscapeModal img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

#homeCard {
  aspect-ratio: 1 / 1;
  background-color: #cbdbd9;
  min-height: 23vw;
  color: white;
  border: 5px solid #cbdbd9;
  border-radius: 3%;
  box-shadow: 6px 4px 4px #20494d;
  overflow: hidden;
}

.homeCardImgOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeCardTitle {
  background-color: rgba(0, 0, 0, .2);
  font-size: 3vw;
}

.card-img {
  aspect-ratio: 1/1;
  border-radius: 3px !important;
}

.site-footer {
  width: 100%;
  margin-top: auto;
}

#homeCard:hover {
  transform: scale(1.034);
  border-color: #20494d;
  background-color: #20494d;
  color: #20494d;
}

#homeCard .homeCardImgOverlay:hover {
  color: #20494d;
  background-color: #cbdbd988
}

.galleryImg {
  border: 2px solid #cbdbd9;
  margin-bottom: 8px;
  border-radius: 2%;
  box-shadow: 6px 4px 4px #20494d;
}

.mainAboutImg,
.landscapeMain
{
  max-width: 100%;
  box-shadow: 6px 4px 4px #20494d;
}

.featuredVideo,
.drone-main-vid,
#mainHomeVid 
{
  box-shadow: 6px 4px 4px #20494d;
  max-width: 100%;
  height: auto;
}

.droneThumbnail {
  border: 2px solid #cbdbd9;
  margin-bottom: 8px;
  border-radius: 2%;
  box-shadow: 6px 4px 4px #20494d;
}

.droneThumbnail:hover{
  transform: scale(1.02);
}

.droneLink{
  text-decoration: none;
}
.droneLink:hover {
  opacity: .8;
  cursor:pointer;
}

.droneModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width:fit-content !important;
  background-color: black !important;
}

.droneModalBody {
  width:fit-content;
}

.modalCloseButton {
  cursor: pointer;
  color: lightgray;
  padding: 0;
  margin: 0;
}

/* .droneContainer {
  justify-content:center;
} */

/* .droneModal {
  width: 900px;
} */

/* .modalVideo {
  aspect-ratio: 16/9;
  width: 90vw;
  justify-self: center;
  height: auto;
} */

.galleryImg:hover {
  transform: scale(1.02);
  border: 3px solid #20494d;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #homeCardTitle {
    font-size: 55px;
  }

  nav {
    background-color: #cbdbd9;
  }
}

/* .galleryRow {
  flex-direction: column
} */

/* Modal. "For those who code" on youtube was very helpful in styling this modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
  z-index: 1022;
}

.overlay img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay>span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
  z-index: 1000;
}

.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d97;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1055;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 6%;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d89;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1023;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 6%;
}

.modalArrow {
  color: #20494d76;
}