.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #cbdbd988;
}

.navbar-brand h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.88rem;
  font-weight: 900;
  color: #bc4416;
}

.navbar-brand:hover {
  transform: scale(1.1);
  background-color:#cbdbd988;
  border-radius: 5%;
}

.navbar-nav 
.nav-item 
.nav-link{
    color: #20494d; 
    font-weight: bold;
}

#homeCard {
  aspect-ratio: 1 / 1;
  background-color: #cbdbd9;
  min-height: 23vw;
  color: white;
  border: 5px solid #cbdbd9;
  border-radius: 5%;
  box-shadow: 6px 4px 4px #20494d;
}

.homeCardImgOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  aspect-ratio: 1/1;
  border-radius: 4.5% !important;
}

.site-footer {
  width: 100%;
  margin-top: auto;
}

#homeCard:hover {
  transform: scale(1.034);
  border-color: #20494d;
  background-color: #20494d;
  color: #20494d;
}

#homeCard .homeCardImgOverlay:hover {
  color: #20494d;
  background-color:#cbdbd988
}